*.pyc
*.sqlite3
*.swp
*.swo
*.jpg
*.jpeg
*.png
*.gif
*.pyc
*.psd
*.json
*.sqlite3
*.log
*.pdf

tags
/MANIFEST
/build
/dist
/dateutil
/django
/djangoappengine
/djangotoolbox
/pyactiveresource
/shopify
*.sqlite3
py27env
node_modules
settings.py
.DS_Store
/.sass-cache
/dev/*
/env/*
/build/*
public_html
public